.info-container {
    /* background-color: var(--primary-color); */
    background-color: var(--black-color);
}

.info-content {
    width: 90%;
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latestNews p {
    text-wrap: nowrap;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.mail-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mail-container .mail-link{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--lexend);
    letter-spacing: 0.2px;
    color: var(--white-color);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.mail-container .mail-link i{
    font-size: 16px;
    color: var(--white-color);
    transition: all 0.2s ease-in-out;
}

.mail-container .mail-link:hover {
    color: var(--primary-color);
}

.mail-container .mail-link:hover i{
    color: var(--primary-color);
} 

.phone-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone-container .phone-link{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--lexend);
    letter-spacing: 0.2px;
    color: var(--white-color);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}
.phone-container .phone-link i{
    font-size: 16px;
    color: var(--white-color);
    transition: all 0.2s ease-in-out;
}

.phone-container .phone-link:hover {
    color: var(--primary-color);
}

.phone-container .phone-link:hover i{
    color: var(--primary-color);
}

.socialMedia{
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialMedia a {
    font-size: 17px;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
}

.socialMedia a:hover {
    color: var(--primary-color);
}


@media screen and (max-width: 991px) {
    .info-container{
        display: none;
    }
}
