.timing-section {
    padding: 50px 0;
    padding-bottom: 80px;
    background-color: #121212;
}

.timing-section__about {
    padding-right: 20px;
}

.timing-section__heading {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 18px;
    color: var(--secondary-color);
    font-family: var(--lexend);
}

.timing-section__heading--highlight {
    color: var(--primary-color);
}

.timing-section__quote {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.7;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    font-family: var(--lexend);
}

.timing-section__subheading {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    font-family: var(--lexend);
    line-height: 1.6;
    margin-bottom: 20px;
    color: #ccc;
}

.timing-section__description {
    font-size: 1.02rem;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 30px;
    color: var(--white-color);
}


.timing-section__hours {
    background-color: #f5f5f5;
    background-color: #333;
    padding: 40px;
    border-radius: 8px;
}

.timing-section__hours-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--white-color);
}

.timing-section__hours-heading--highlight {
    color: var(--primary-color);
}

.timing-section__day {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.timing-section__day:last-of-type {
    margin-bottom: 30px;
}

.timing-section__day-name {
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.timing-section__day--closed .timing-section__day-name {
    margin-bottom: 0;
}

.timing-section__time {
    color: var(--white-color);
    font-size: 0.95rem;
    margin: 0;
}

.timing-section__meal {
    color: var(--white-color);
    font-weight: 600;
}


@media (max-width: 991px) {
    .timing-section__description {
        font-size: 1.02rem;
    }

    .timing-section__quote {
        font-size: 1.04rem;
    }

    .timing-section__about {
        padding-right: 0;
        margin-bottom: 40px;
    }

    .timing-section__hours {
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .timing-section__heading {
        font-size: 2rem;
    }

    .timing-section__hours {
        padding: 30px 20px;
    }

    .timing-section__hours-heading {
        font-size: 1.6rem;
    }

    .timing-section__day-name {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .timing-section__description {
        font-size: 0.95rem;
        line-height: 1.8;
    }
    .timing-section__day-name {
        font-size: 0.95rem;
    }
}


.timing-section__break::after {
    content: "";
}

@media (max-width: 576px) {
    .timing-section__break::after {
        content: "\A";
        /* line break */
        white-space: pre;
    }
}